
.navbar-default
{
	background-color:#23A0A0 !important;	
	border-color:#23A0A0 !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a
{
	color: #FFF !important;
}

.navbar-default .navbar-nav>li>a:hover
{
	background-color: #25A8A8 !important;
}

.btn-primary a
{
	color: #FFF !important;
}

a:hover
{
	text-decoration: none !important;
}

.form-control
{
	margin: 0px !important;
}
input.form-control
{
	margin-bottom: 1% !important;
}

form
{
	margin: 0px !important;
}

li a.list-group-item
{
	text-decoration: none !important;
}
a.list-group-item:hover
{
	color:#FFF !important;
	background-color: #25A8A8 !important;
}

a #active
{
	color:#FFF !important;
	background-color: #25A8A8 !important;
}

button.btn.btn-primary, input.btn.btn-primary
{
	background-color:#23A0A0 !important;	
	border-color:#23A0A0 !important;
}

button.btn.btn-primary:hover, input.btn.btn-primary:hover
{
	background-color:#25A8A8 !important;	
	border-color:#25A8A8 !important;
}

div#content.container
{
	width:100% !important;
}
