body 
{
	background-color: #eee !important;
}
.jumbotron
{
	border-radius: 3px !important;
	background-color: #fff !important;
}
.navbar-default
{
	background-color:#23A0A0 !important;	
	border-color:#23A0A0 !important;
}

div.pull-right input
{
	padding-right:34px !important; 
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a
{
	color: #FFF !important;
}

.navbar-default .navbar-nav>li>a:hover
{
	background-color: #25A8A8 !important;
}

.btn-primary a
{
	color: #FFF !important;
}

a:hover
{
	text-decoration: none !important;
}

.form-control
{
	margin: 0px !important;
}
input.form-control, textarea.form-control
{
	margin-bottom: 1% !important;
}

form
{
	margin: 0px !important;
}

li a.list-group-item
{
	text-decoration: none !important;
}
a.list-group-item:hover, .active
{
	color:#FFF !important;
	background-color: #25A8A8 !important;
	border-color:#25A8A8 !important;
}

a #active
{
	color:#FFF !important;
	background-color: #25A8A8 !important;
}

button.btn.btn-primary, input.btn.btn-primary
{
	background-color:#23A0A0 !important;	
	border-color:#23A0A0 !important;
}

button.btn.btn-primary:hover, input.btn.btn-primary:hover
{
	background-color:#25A8A8 !important;	
	border-color:#25A8A8 !important;
}

div#content.container
{
	width:100% !important;
}
div.box
{
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 1%;
	padding: 20px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}

div.box-event
{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 1%;	
	padding: 20px;
	font-size: 16px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}

div.contain
{
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 20px;
}

table tr td:first-child
{
	text-align: right !important;
	font-weight: bolder;
}

table
{
	font-size: 12px;
}

#panel, #editpass,#panel-fullname,#edit-fname,#panel-contact,#edit-contact,#user 
{
    padding: 5px;
    border: solid 1px #c3c3c3;
    border-right: none;
    border-left: none;
    border-top: none;
    color:#000000;
}
#editpass, #edit-fname, #edit-contact
{
	cursor: pointer;
}

#editpass:hover, #edit-fname:hover, #edit-contact:hover
{
	background-color: #DFDFDF;
}

#panel,#panel-fullname,#panel-contact
 {
    padding: 50px;
    display: none;
    text-align: center;

}

#input
{
	margin: 3px;

}
#input input
{
	padding: 5px;
	border-radius: 5px;
	border: solid 1px #c3c3c3;
}
span.second
{
	margin-left: 20%;
}
#inquiry-title
{
	font-weight: bold;
}
#mess
{
	margin:10px;
}
#inquiry-content
{
	border: solid 1px #c3c3c3;
    border-right: none;
    border-left: none;
    border-top: none;
}
#err-msg
{
	color:#FF0000;
	font-weight: bold;
}
#search-box
{
	padding-right:450px;
}

table.myTable td
{
	padding-right: 50px;
}
.fc-content {
    cursor: pointer;
}

a.btn-reply
{
	background-color: #23A0A0;
	border: #23A0A0 solid;
	color: #fff;
	border-radius: 3px;
	padding: 1px;
}
a.btn-reply:hover
{
	background-color: #25A8A8;
	border-color: #25A8A8;
	color: #fff;
}